@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
  --dark-blue-dark-mode-elements: hsl(209, 23%, 22%);
  --very-dark-blue-dark-mode-background: hsl(207, 26%, 17%);
  --very-dark-blue-light-mode-text: hsl(200, 15%, 8%);
  --dark-gray-light-mode-input: hsl(0, 0%, 52%);
  --very-light-gray-light-mode-background: hsl(0, 0%, 98%);
  --white-dark-mode-text-and-light-mode-elements: hsl(0, 0%, 100%);

  --homepage-font-size: 14px;
  --detail-font-size: 16px;

  --mobile-width: 375px;
  --desktop-width: 1440px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  overflow-x: hidden;
  min-height: calc(100vh - 160px);
}

a {
  text-decoration: none;
  cursor: pointer;
}

.spinner {
  width: 40px;
  height: 40px;
  position: fixed;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
}